<div class="b-order">
  <h1 class="b-order__title">Информация о заказе</h1>

  {{b-admin-order-description order=order}}

  <ul class="b-order__content">
    {{#each order.portions as |portion|}}
      {{b-admin-portion portion=portion isManager=isManager }}

    {{/each}}
  </ul>


  <ul class="b-order__list">
    {{#each order.portions as |portion|}}
      <ul class="b-order__content">
        {{#each portion.portion-products as |portion-product|}}
          {{!-- <li class="order-list__item"> --}}
            {{pr-portion-product product=portion-product.product }}
          {{!-- </li> --}}
       {{/each}}
      </ul>
    {{/each}}
  </ul>

 <div class="b-order__actions">
 {{#if isManager}}

    <button {{action "toggleActiveState"}} class="button _submit">
      {{#if order.active}}Заблокировать <br> заказ{{else}}Разблокировать <br> заказ{{/if}}
    </button>
    {{#link-to 'checkout' order.id class="button _submit"}}
      Уведомить  <br> пользователей
    {{/link-to}}

  {{/if}}

  {{#link-to 'order' order.id class="button _submit"}}
     Перейти <br> к заказу
{{/link-to}}
</div>
</div>




