
{{!--  {{#each portions as |portion|}} --}}
 <div class="b-order-group__wrapper">
  <div class="b-order-group__row">

   {{!--  {{#if canDelete}}
      <button {{action 'removeAll'}} class="b-order-group__remove-btn"></button>
    {{else}}
      <button class="b-order-group__remove-btn _disabled"></button>
    {{/if}} --}}
    {{!-- <div class="b-order-group__person b-person">
      <span class="b-person__name">{{owner.displayName}}</span>
      <span class="b-person__phone">{{owner.phone}}</span>
    </div> --}}
   {{!--  {{b-checkbox class="b-order-group__checkbox"
                 checked=allPaid disabled=isManager
                 onchange=(action 'toggleAll') }} --}}
                 {{b-portion portion=portion isManager=isManager canDelete=canDelete}}
  </div>
</div>

<ul class="b-order-group__summary">

   {{#each portion.portion-products as |portion-product|}}

    <li class="order-list__item">
      {{pr-portion-product product=portion-product.product }}
    </li>


{{/each}}
 {{#if isOwner }}
{{#link-to 'portion' portion.id class="button _submit"}}
      Редактировать
    {{/link-to}}
     {{/if}}

</ul>
{{!-- {{/each}} --}}