<form class="f-default f-register">
  <h2 class="f-default__title">Регистрация</h2>

  <div class="f-default__wrapper">
    {{b-selectize content=companies
                  optionValuePath='content.id'
                  optionLabelPath='content.title'
                  optionComponent='pr-company-option'
                  selectItem=(action 'setCompany')
                  valuePath='company'
                  model=this
                  placeholder='Выберите компанию'}}
                  {{#link-to 'new-company' }} Зарегистрировать новую компанию{{/link-to}}
    {{b-input model=this valuePath='name' placeholder="Name"}}
    {{b-input model=this type='email' valuePath='email' placeholder="E-mail"}}
    {{b-input model=this type='password' valuePath='password' placeholder="Password"}}
    {{b-input model=this type='tel' valuePath='phone' placeholder="Phone"}}
  </div>

  <button {{action "submit"}} type="submit" class="button _submit">Отправить</button>
</form>
