  <div class="pr-order__row">
    <div class="pr-order__place">{{product.title}} {{count}}
 {{!--    <div class="b-person__name">
        {{product.vendor.title}}
      </div> --}}
    </div>


    <img src={{product.image}}>
  </div>
  <div class="pr-order__row">
    <div class="pr-order__manager b-person">
      <div class="b-person__name">
        {{product.description}}
      </div>
    </div>

   <div class="pr-order__money b-order-money">
   <time class="pr-order__time">{{product.price}}</time>
       <button {{action "submit"}} class="button _submit">+</button>
    </div>


  </div>
