  <div class="pr-product__row">
    <div class="pr-order__place">{{product.title}}
    </div>
    <img src={{product.image}}>
  </div>
  <div class="pr-product__row">
    <div class="pr-product__description b-person">
        {{product.description}}
    </div>
   <div class="pr-product__money b-order-money">
       <time class="pr-product__price">{{product.price}}</time>
       <button {{action "submit"}} class="button _submit">+</button>
    </div>

  </div>
